@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #171717;
  --primary: #006AB3;
  --accent: #D7932C;
  --success: #28A745;
  --warning: #F7CE72;
  --error: #D93025;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --font-sans: var(--font-nohemi), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
